<title>About Reboboth Recruitments </title>
@section metatags{
    <meta name="description" content="Learn about rehobothrecruits" />
    <meta name="keywords" content="About Rehobothrecruits, welcome to rehoborecruits " />
    <meta name="author" content="Rehobothrecruits" />
    <meta name="MobileOptimized" content="320" />
}
<partial name="_HeaderPartial" />
<title>Reboboth Recruitments Website - Learn About Us</title>

<!-- jp Tittle Wrapper Start -->
<div class="jp_tittle_main_wrapper">
    <div class="jp_tittle_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_tittle_heading_wrapper">
                    <div class="jp_tittle_heading">
                        <h2>About-Us</h2>
                    </div>
                    <div class="jp_tittle_breadcrumb_main_wrapper">
                        <div class="jp_tittle_breadcrumb_wrapper">
                            <ul>
                                <li><a asp-action="Index" asp-controller="Home">Home</a> <i class="fa fa-angle-right"></i></li>
                                <li>About-Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jp Tittle Wrapper End -->
<!-- aboutus_section start-->
<div class="aboutus_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="about_text_wrapper">
                    <div class="section_heading section_2_heading">
                        <h2>how we <span>do it ?</span></h2>
                    </div>
                    <p>Rehoboth Recruitments Limited cover a wide range of care services,  we offer outpatient care,  assisted living, inpatient care and intensive care for children and adults. Ranging from 0 years old to 130 years.</p>
                    <p>We keep our promises. Flat Hierarchies, decisions in teams and modern work-life balance for all employees are the cornerstones of Rehoboth Recruit.</p>
                    <ul>
                        <li>
                            <i class="fa fa-check-square" aria-hidden="true"></i><a href="#">We have employers all over the world.</a>
                        </li>
                        <li>
                            <i class="fa fa-check-square" aria-hidden="true"></i><a href="#">We have experienced nurses who have sign up with us.</a>
                        </li>
                        <li>
                            <i class="fa fa-check-square" aria-hidden="true"></i><a href="#">Lifetime updates & support.</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="about_image_wrapper">
                    <img class="img-responsive" src="~/img/nurse1.jpg" alt="about-img">
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="about_text_wrapper abt_2_para">
                    <div class="section_heading section_2_heading">
                        <h2>why we<span> do it ?</span></h2>
                    </div>
                    <p>We want to continue to grow and shape the change in care. Our goal is to provide our professional work and thus the care they need to as many people in need of help and care as possible.</p>
                    <p>Rehoboth is a nursing and care recruitment agency that specializes in matching talent to the right job opportunities across Europe and Africa. Our primary activity is to provide the care professionals, registered and auxiliary nurses, health assistant, caregiver to various hospitals, clinic, nursing home, private patients, etc.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jp best deal Wrapper Start -->
<div class="jp_best_deal_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_best_deal_heading_wrapper">
                    <div class="jp_best_deal_heading">
                        <h4>Offering the best Deals</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="jp_best_deal_main_cont_wrapper">
                    <div class="jp_best_deal_icon_sec">
                        <i class="flaticon-magnifying-glass"></i>
                    </div>
                    <div class="jp_best_deal_cont_sec">
                        <h4><a href="#">Search a Jobs</a></h4>
                        <p>Easily search for new job from us...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="jp_best_deal_main_cont_wrapper">
                    <div class="jp_best_deal_icon_sec">
                        <i class="flaticon-users"></i>
                    </div>
                    <div class="jp_best_deal_cont_sec">
                        <h4><a href="#">Apply a Job</a></h4>
                        <p>We guide you and help out in the application...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="jp_best_deal_main_cont_wrapper jp_best_deal_main_cont_wrapper2">
                    <div class="jp_best_deal_icon_sec">
                        <i class="flaticon-shield"></i>
                    </div>
                    <div class="jp_best_deal_cont_sec">
                        <h4><a href="#">Job Security</a></h4>
                        <p>We see that your  job is fully secured...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="jp_best_deal_main_cont_wrapper jp_best_deal_main_cont_wrapper2">
                    <div class="jp_best_deal_icon_sec">
                        <i class="flaticon-notification"></i>
                    </div>
                    <div class="jp_best_deal_cont_sec">
                        <h4><a href="#">Job Notifications</a></h4>
                        <p>Notify you of new offers...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="jp_best_deal_main_cont_wrapper jp_best_deal_main_cont_wrapper2">
                    <div class="jp_best_deal_icon_sec">
                        <i class="flaticon-wallet"></i>
                    </div>
                    <div class="jp_best_deal_cont_sec">
                        <h4><a href="#">Low Fee</a></h4>
                        <p>Our fee is cheap and affordable...</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="jp_best_deal_main_cont_wrapper jp_best_deal_main_cont_wrapper2">
                    <div class="jp_best_deal_icon_sec">
                        <i class="flaticon-people"></i>
                    </div>
                    <div class="jp_best_deal_cont_sec">
                        <h4><a href="#">Happy Support</a></h4>
                        <p>With our support, you'll enjoy your time in a new land'...</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jp best deal Wrapper End -->
<!-- jp counter Wrapper Start -->
<div class="jp_counter_main_wrapper">
    <div class="gc_counter_cont_wrapper">
        <div class="count-description">
            <span class="timer">2540</span><i class="fa fa-plus"></i>
            <h5 class="con1">Jobs Available</h5>
        </div>
    </div>
    <div class="gc_counter_cont_wrapper2">
        <div class="count-description">
            <span class="timer">2367</span><i class="fa fa-plus"></i>
            <h5 class="con2">Nurses</h5>
        </div>
    </div>
    <div class="gc_counter_cont_wrapper3">
        <div class="count-description">
            <span class="timer">2367</span><i class="fa fa-plus"></i>
            <h5 class="con3">Resumes</h5>
        </div>
    </div>
    <div class="gc_counter_cont_wrapper4">
        <div class="count-description">
            <span class="timer">879</span><i class="fa fa-plus"></i>
            <h5 class="con4">Client</h5>
        </div>
    </div>
</div>
<!-- jp counter Wrapper End -->
<!-- aboutus_section end -->
<div class="aboutus_page_2_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="aboutus_text_section abt_txt_page_2">
                    <h2>Who We <span>Are</span></h2>
                    <p>Rehoboth is a nursing and care recruitment agency that specializes in matching talent to the right job opportunities across Europe and Africa. Our primary activity is to provide the care professionals, registered and auxiliary nurses, health assistant, caregiver to various hospitals, clinic, nursing home, private patients, etc.</p>
                    <div class="row">
                        <div class="col-md-6">
                            <ul>
                                <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Nursing Staffing</li>
                                <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Nursing Volunteer</li>

                            </ul>
                        </div>
                        @*<div class="col-md-6">
                                <ul>
                                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Audit &amp; Assurance</li>
                                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;&nbsp;Business Services</li>
                                    <li><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i>&nbsp;&nbsp;IT Control Solutions</li>
                                </ul>
                            </div>*@
                    </div>

                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="accordion_wrapper abt_page_2_wrapper">
                    <div class="panel-group" id="accordion_threeLeft">
                        <div class="panel panel-default">
                            <div class="panel-heading desktop">
                                <h4 class="panel-title">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeftone" aria-expanded="true">
                                        Our Visions
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwentyLeftone" class="panel-collapse collapse" aria-expanded="true" role="tablist">
                                <div class="panel-body">
                                    To be recognized as an impactful, innovative, technology driven and efficient health recruitment partner.
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-default -->
                        <div class="panel panel-default">
                            <div class="panel-heading horn">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeftTwo" aria-expanded="false">
                                        Our Missions
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwentyLeftTwo" class="panel-collapse collapse in" aria-expanded="false" role="tablist">
                                <div class="panel-body">
                                    We are professionals, enthusiastic and innovative team dedicated to providing best talent that can create solutions and impact our esteemed customer’s organization.
                                </div>
                            </div>
                        </div>
                        <!-- /.panel-default -->
                        @*<div class="panel panel-default">
                                <div class="panel-heading bell">
                                    <h4 class="panel-title">
                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion_threeLeft" href="#collapseTwentyLeftThree" aria-expanded="false">
                                            Visual Page Builder
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwentyLeftThree" class="panel-collapse collapse" aria-expanded="false" role="tablist">
                                    <div class="panel-body">
                                        Praesent in nisl egestas mauris aliquam luctus. Ut auctor faucibus orci, nec semper purus ultrices idorbi nec lorem risus orbi vitae felis gravida Pellentesque id eros quis massa convallis feugiat eu quis urna.
                                    </div>
                                </div>
                            </div>*@
                        <!-- /.panel-default -->
                    </div>
                    <!--end of /.panel-group-->
                </div>
            </div>
            <!--end of /.col-sm-6-->
        </div>
    </div>
</div>
<!--end of /.col-sm-6-->
