<title>Our Services - Learn about our services at Rehoborecruits</title>
@section metatags{
    <meta name="description" content="Rehobothrecruits official nursing job portal" />
    <meta name="keywords" content="Rehobothrecruits services, nursing jobs, health worker new jobs, Uk nursing jobs, Canada nusing latest jobs, nurse moving abroad" />
    <meta name="author" content="www.Rehobothrecruits.com.ng" />
    <meta name="MobileOptimized" content="320" />
}
<partial name="_HeaderPartial" />
<div class="jp_tittle_main_wrapper">
    <div class="jp_tittle_img_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_tittle_heading_wrapper">
                    <div class="jp_tittle_heading">
                        <h2>Services</h2>
                    </div>
                    <div class="jp_tittle_breadcrumb_main_wrapper">
                        <div class="jp_tittle_breadcrumb_wrapper">
                            <ul>
                                <li><a href="#">Home</a> <i class="fa fa-angle-right"></i></li>
                                <li>Our Services</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- jp Tittle Wrapper End -->
<!-- aboutus_section start-->
<div class="aboutus_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="about_text_wrapper">
                    <div class="section_heading section_2_heading">
                        <h2>Our <span>Services</span></h2>
                    </div>
                    <p>Wellcare Nursing Services is focused on delivering exciting & rewarding career opportunities in healthcare. As specialists in agency staffing, we provide well-trained support workers, healthcare assistants, and nurses to suit a variety of requirements. Our nursing care and support staff are comprised of a wide variety of cultural backgrounds which match well with the UK’s cultural diversity.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                <div class="about_image_wrapper">
                    <img class="img-responsive" src="~/images/content/nursecare.jpeg" alt="about-img">
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                <div class="about_text_wrapper abt_2_para">
                    <div class="section_heading section_2_heading">
                        <h2>We are here<span> to partner with you to meet your needs</span></h2>
                    </div>
                    <p>As a healthcare staffing agency in the UK, we invest in rigorous recruitment techniques and on-going assessments to ensure complete and optimal outcomes for our clients.</p>
                    <ul>
                        <li>
                            <i class="fa fa-check-square" aria-hidden="true"></i><a href="#">Assisting with your organization to recruit healthcare assistants and nurses.</a>
                        </li>
                        <li>
                            <i class="fa fa-check-square" aria-hidden="true"></i><a href="#">Providing aspiring job seekers find jobs that would really match their skills.</a>
                        </li>

                    </ul> 
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jp career Wrapper Start -->
<div class="jp_career_main_wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="jp_hiring_slider_main_wrapper">
                    <div class="jp_career_slider_heading_wrapper">
                        <h2>Our Healthcare Staffing Service Highlights</h2>
                    </div>
                    <div class="jp_career_slider_wrapper">
                        <div class="owl-carousel owl-theme">
                            <div class="item jp_recent_main">
                                <div class="jp_career_main_box_wrapper">
                                    <div class="jp_career_img_wrapper">
                                        <img src="~/images/content/leaning-150x150.jpg" alt="career_img" />
                                    </div>
                                    <div class="jp_career_cont_wrapper">
                                        <h3>Learning Disability</h3>
                                        <p>We offer nursing and healthcare staffing services which support people with autism, behaviours that challenge, complex needs, learning, and physical disabilities.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item jp_recent_main">
                                <div class="jp_career_main_box_wrapper">
                                    <div class="jp_career_img_wrapper">
                                        <img src="~/images/content/Caregiver-sitting-with-a-senior-couple-LT-150x150.webp" alt="career_img" />
                                    </div>
                                    <div class="jp_career_cont_wrapper">
                                        <h3>Elderly Care Services</h3>
                                        <p>We provide dedicated and caring healthcare staff for the elderly NOT services: • Retirement Villages • Nursing Homes • Specialist Dementia Units • Day-care Centres • Palliative Care • Independent Living at Home • Shared Lives • Coming soon: Live-in care.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="item jp_recent_main">
                                <div class="jp_career_main_box_wrapper">
                                    <div class="jp_career_img_wrapper">
                                        <img src="~/images/content/mental-health-150x150.png" alt="career_img" />
                                    </div>
                                    <div class="jp_career_cont_wrapper">
                                        <h3>Mental Health</h3>
                                        <p>We supply mental health nurses, support workers with specialised training in Positive Behaviour Support (PBS), Prevention and Management of Violence and Aggression (PMVA), and breakaway techniques.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="item jp_recent_main">
                                <div class="jp_career_main_box_wrapper">
                                    <div class="jp_career_img_wrapper">
                                        <img src="~/images/content/addiction-150x150.jpg" alt="career_img" />
                                    </div>
                                    <div class="jp_career_cont_wrapper">
                                        <h3>Addiction, Recovery and Rehabilitation</h3>
                                        <p>We provide high-quality nurses and healthcare assistants to units that provide substance use disorder treatment and rehabilitation.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="item jp_recent_main">
                                <div class="jp_career_main_box_wrapper">
                                    <div class="jp_career_img_wrapper">
                                        <img src="~/images/content/brain-injury-150x150.jpg" alt="career_img" />
                                    </div>
                                    <div class="jp_career_cont_wrapper">
                                        <h3>Brain Injury</h3>
                                        <p>We provide experienced nurses and healthcare assistants/support workers to treat patients who have experienced a traumatic or non-traumatic brain injury.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="item jp_recent_main">
                                <div class="jp_career_main_box_wrapper">
                                    <div class="jp_career_img_wrapper">
                                        <img src="~/images/content/complex-care-150x150.jpg" alt="career_img" />
                                    </div>
                                    <div class="jp_career_cont_wrapper">
                                        <h3>Health Rehabilitation</h3>
                                        <p>Our experienced nurses and support workers will provide greater care and assistance in the recovery of your patients through right support, patience and perseverance. Our staff will assist your organisation in putting smiles back in their faces through continued support in their recovery.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="item jp_recent_main">
                                <div class="jp_career_main_box_wrapper">
                                    <div class="jp_career_img_wrapper">
                                        <img src="~/images/content/Personal-Care-150x150.jpg" alt="career_img" />
                                    </div>
                                    <div class="jp_career_cont_wrapper">
                                        <h3>Complex care</h3>
                                        <p>Complex care involves support for the following: • Physical care needs relating to health conditions such as Huntington's Disease, MS, Muscular Dystrophy, Parkinson's Disease. • We also provide support for clients who have behaviours that challenge. • Our Care staff have specfic individualised training related to Clients conditions to ensure that we provide continuity of care to re-enable them to live their lives to the full as much as possible.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>