<partial name="_HeaderPartial" />

<div role="tabpanel" class="tab-pane fade in active" id="best">
    <div class="ss_featured_products">
        <div class="owl-carousel owl-theme">
            <div class="item" data-hash="zero">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Registered Nurse</h4>
                                            <p>NHS Professionals </p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; £27,114–£43,369 P.A.</li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Great Malvern, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Registered General Nurse</h4>
                                            <p>Medacs Healthcare</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; £34.00 - £50.00 per hour</li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Chester, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Staff Nurse</h4>
                                            <p>Almond View</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; £16.50 an hour</li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Glasgow, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Registered General Nurse</h4>
                                            <p>Seven Healthcare</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; £30–£40 an hour</li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Carmarthen, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Staff Nurse</h4>
                                            <p>County Durham</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp;£25,655–£31,534 P.A</li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Darlington, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Registered Nurse</h4>
                                            <p>UK Search Network Limited.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; </li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;United Kingdom
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4> Charge Nurse Critical care</h4>
                                            <p>NHS England Apprenticeships</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; </li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Liverpool, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Staff Nurse</h4>
                                            <p>Craigielea</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; £17/Hour</li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Renfrew, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>




            </div>
            <div class="item" data-hash="zero">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Registered Nurse</h4>
                                            <p>NHS Professionals </p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; £27,114–£43,369 P.A.</li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Great Malvern, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Registered General Nurse</h4>
                                            <p>Medacs Healthcare</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; £34.00 - £50.00 per hour</li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Chester, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Staff Nurse</h4>
                                            <p>Almond View</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; £16.50 an hour</li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Glasgow, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Registered General Nurse</h4>
                                            <p>Seven Healthcare</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; £30–£40 an hour</li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Carmarthen, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Staff Nurse</h4>
                                            <p>Darlington Foundation</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp;£25,655–£31,534 P.A</li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Darlington, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Registered Nurse</h4>
                                            <p>UK Search Network Limited.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; </li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;United Kingdom
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4> Charge Nurse Critical care</h4>
                                            <p>NHS England Apprenticeships</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; </li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Liverpool, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Staff Nurse</h4>
                                            <p>Craigielea</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; £17/Hour</li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Renfrew, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>




            </div>
            <div class="item" data-hash="zero">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Registered Nurse</h4>
                                            <p>NHS Professionals </p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; £27,114–£43,369 P.A.</li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Great Malvern, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>RGS</h4>
                                            <p>Medacs Healthcare</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; £34.00 - £50.00 per hour</li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Chester, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Staff Nurse</h4>
                                            <p>Almond View</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; £16.50 an hour</li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Glasgow, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Registered General Nurse</h4>
                                            <p>Seven Healthcare</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; £30–£40 an hour</li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Carmarthen, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Staff Nurse</h4>
                                            <p>County Durham  </p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; £25,655–£31,534 P.A</li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Darlington, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Registered Nurse</h4>
                                            <p>UK Search Network Limited.</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; </li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;United Kingdom
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4> Charge Nurse Critical care</h4>
                                            <p>England Apprenticeships</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; </li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Liverpool, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <div class="jp_job_post_main_wrapper_cont">
                            <div class="jp_job_post_main_wrapper">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                        <div class="jp_job_post_side_img">
                                            @*<img src="images/content/job_post_img1.jpg" alt="post_img" />*@
                                        </div>
                                        <div class="jp_job_post_right_cont">
                                            <h4>Staff Nurse</h4>
                                            <p>Craigielea</p>
                                            <ul>
                                                <li><i class="fa fa-cc-paypal"></i>&nbsp; £17/Hour</li>
                                                <li>
                                                    <i class="fa fa-map-marker"></i>&nbsp;Renfrew, UK
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                        <div class="jp_job_post_right_btn_wrapper">
                                            <ul>
                                                <li><a href="#"><i class="fa fa-heart-o"></i></a></li>
                                                <li><a href="#">Full Time</a></li>
                                                <li><a asp-action="Register" asp-controller="Home">Register</a></li>                                              
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="jp_job_post_keyword_wrapper">
                                <ul>
                                    <li><i class="fa fa-tags"></i>Keywords :</li>
                                    <li><a href="#">RN,</a></li>
                                    <li><a href="#">Uk nurse,</a></li>
                                    <li><a href="#">NHS</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="video_nav_img_wrapper">
        <div class="video_nav_img">
            <ul>
                <li><a class="button secondary url owl_nav" href="#zero">1</a></li>
                <li><a class="button secondary url owl_nav" href="#one">2</a></li>
                <li><a class="button secondary url owl_nav active" href="#two">3</a></li>
            </ul>
        </div>
    </div>
</div>